<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table class="table table-striped table-sm">
    <thead>
    <!--								<th>#</th>-->
        <th>id</th>
        <th>v</th>
    </thead>
    <tbody>
        <tr th:each="emp:${lalala}">
            <!--									<td th:text="${emp.id}"></td>-->
            <td th:text="${emp.id}"></td>
            <td th:text="${emp.VALUE_1}"></td>
        </tr>
    </tbody>
</table>
</body>
</html>